/* src/components/routes/LandingPage/BodyPartForm/BodyPartForm.css */

.above-form{
    position: relative;
    height: 40vh;
}

.yoyo{
    height: 140vh;
    width:100%;
    z-index: -1;
}

.form-header{
    position:absolute;
    display: flex;
    flex-direction: row;
    top:3rem;
    left:5rem;
    margin:auto;

}

.logo{
    height: 3rem;

}


.linkis{
    color:red;
    text-decoration: none;
    font-size: large;
}

.linkis:hover{
    color: black;
}

.form-heading{
    font-size: 3.2rem;
    font-weight: 700;
    margin: auto;
    margin-bottom: 2rem;
}


.container-payment{
    height: auto;
    position: relative;

}

.form-payment{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: -5rem;
    text-align: left;
    font-size: large;
    border: 1px solid ;
    border: none;
    width:50vw;
    border-radius: 1rem;
    padding: 2rem;
    background-color: white;
}


label{
    margin: auto;
}

label.question-field{
    font-size: 1.25rem;
    margin-bottom:2rem;
}


input{
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 0.5rem;
    display: flex;
    justify-content: flex-end;
    width: 16rem;
    margin: auto;
}

label.input-field{
    display: flex;
    justify-content: flex-start;
    margin:  auto auto 1rem 8rem;
}

input.types{
    margin-right: -5rem;
}


select{
    padding: 0.25rem;
    border: 1px solid;
    border-radius: 0.5rem;
    display: flex;
    justify-content: flex-end;
    width: 17rem;

}

.mid-heading{
    font-size: 2.2rem;
    font-weight: 700;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 3rem;
}


.couponn{
    margin: auto;
    margin-bottom: 2rem;

}


.total{
    margin:auto ;
    font-size: 1.8rem;
    margin-bottom: 1rem;

}

.submit-button{
    width: 40%;
    padding: 1rem;
    margin: auto;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    border: 1px solid;
    border-color: brown;
    border-radius: 1rem;
    font-size: large;
    background-color: white;
    color: brown;
}

.submit-button:hover{
    background-color: brown;
    color: white;
}

.website{
    margin:auto;
    border: 1px solid;
    border-radius: 1rem;
    border: none;
    padding: 0.75rem;
    width: 11rem;
    background-color: white;
    margin-bottom: 3rem;
}

/* mobile */

@media only screen and (max-width: 600px) {

    

.above-form{
    position: relative;
    height: 25vh;
}

.yoyo{
    height: 150vh;
    width:200vw;
}

.form-payment{
    font-size: 1.1rem;
    margin: auto;
    width:70vw;
}

.form-header{
    left: 2rem;
    top: 3rem;
}

.form-heading{
    font-size: 1.6rem;
    font-weight: 700;
    margin:auto auto 2rem;
}


.logo{
    height: 3rem;

}

.linkis{
    color:red;
    text-decoration: none;
    font-size: large;
}

.linkis:hover{
    color: black;
}


.container-payment{
    height: auto;
    position: relative;

}

.form-payment{
    margin: auto;
    font-size: 1.1rem;
    width:70vw;
}


.form-heading{
    font-size: 1.5rem;
    font-weight: 700;
    margin: auto;
    margin-bottom: 2rem;
}

label{
    margin: auto;
}

label.question-field{
    font-size: 1rem;
    margin-top:1rem;
}


input{
    padding: 0.5rem;
    width: 10rem;
    margin: auto;
}

label.input-field{
    display: flex;
    justify-content: flex-start;
    margin: 1rem auto 1rem -2rem;
}

input.types{
    margin: auto;
}


select{
    margin-top: 0.5rem;
    width: 11rem;

}

.mid-heading{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem auto 1.5rem;
}


.couponn{
    margin: -1rem auto 1rem;

}


.total{
    margin:auto auto 1rem ;
    font-size: 1.4rem;

}

.submit-button{
    width: 75%;
    padding: 0.75rem;
    margin: -2rem auto -1rem;
}

.website{
    margin:0 auto 3rem;
    padding: 0.75rem;
    margin-bottom: 3rem;
}
}


